<div class="text-center">
    <h1 class="text-info">Welcome to LearnSmartCoding!</h1>
  </div>
<section class="home-content">
    <div class="container">
      <h2>Manage Your Tasks with Ease</h2>
      <p>Stay organized and boost your productivity with our powerful task manager application. Whether you're an individual or part of a team, our app provides all the features you need to efficiently manage your tasks.</p>
      
      <div class="features">
        <div class="feature">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#333" width="80px" height="80px">
            <path d="M0 0h24v24H0V0z" fill="none"/>
            <path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zm-2-10v2h-3v3h-2v-3H9v-2h3V9h2v3h3z"/>
          </svg>
          <h3>Create Tasks</h3>
          <p>Easily create tasks with titles, descriptions, due dates, priorities, labels, attachments, and subtasks. Keep all the important details in one place.</p>
        </div>
        
        <div class="feature">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#333" width="80px" height="80px">
            <path d="M0 0h24v24H0V0z" fill="none"/>
            <path d="M12 2C6.48 2 2 6.48 2 12c0 2.71 1.03 5.19 2.73 7.07L12 17v-2c3.87 0 7-3.13 7-7 0-3.87-3.13-7-7-7zm-1 12h2V7h-2v7zm0-9h2v2h-2V5z"/>
          </svg>
          <h3>Stay Organized</h3>
          <p>Never miss a deadline with customizable reminders and notifications. Prioritize your tasks, assign labels, and track their progress.</p>
        </div>
        
        <div class="feature">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#333" width="80px" height="80px">
            <path d="M0 0h24v24H0V0z" fill="none"/>
            <path d="M18 20H6c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2h12c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2zm-9-2h2v-2H9v2zm0-4h2v-2H9v2zm0-4h2V9H9v2zm4 8h2v-2h-2v2zm0-4h2v-2h-2v2zm0-4h2V9h-2v2zm4 8h2v-2h-2v2zm0-4h2v-2h-2v2zm0-4h2V9h-2v2z"/>
          </svg>
          <h3>Collaborate Effortlessly</h3>
          <p>Share tasks with team members, assign responsibilities, and track the status of each task. Collaborate seamlessly to achieve your goals.</p>
        </div>
      </div>
      
      <a href="tasks" class="btn btn-primary">Get Started</a>
    </div>
  </section>
  