/* .sld-height{
    max-height: 600px;
}
.home-content {
    background-color: #f2f2f2;
    padding: 40px 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }
  
  h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
  }
  
  .features {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .feature {
    flex-basis: 33.33%;
    padding: 20px;
  }
  
  .feature img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  
  .feature h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 16px;
    color: #666;
  }
  
  .btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
   */


    
   .home-content {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #555;
  }
  
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .feature {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  
  .feature svg {
    width: 80px;
    height: 80px;
    fill: #333;
    margin-bottom: 20px;
  }
  
  .feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .feature p {
    font-size: 16px;
    color: #555;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
   